* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  margin: 0 auto;
  max-width: 1440px;
}

/*============================================================================== start-page */

#start-page {
  width: 100%;
  min-height: 768px;
  padding-bottom: 34px;
  background: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
}

.header {
  max-height: 80px;
  margin-bottom: 156px;
  padding: 17px 0px 15px 9.375%;
  background: #5a27a4;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.header_logo {
  width: 120px;
  height: 48px;
}

.start-page_title {
  width: 30%;
  max-width: 449px;
  min-height: 216px;
  margin-bottom: 26px;
  padding-left: 9.375%;
}

.start-page_description {
  width: 50%;
  max-width: 705px;
  min-height: 48px;
  margin-bottom: 34px;
  padding-left: 9.375%;
}

.start-page_description p {
  margin-bottom: 34px;
}

.button {
  width: 170px;
  height: 48px;
  background-color: #ffc300;
  border: none;
  border-radius: 24px;
  padding: 12px 32px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

/*============================================================================== second-page */

#second-page {
  min-height: 768px;
  background: #ffffff;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
}

.second-page_title {
  width: 100%;
  min-height: 64px;
  text-align: center;
  margin-bottom: 23px;
}

.second-page_description {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.second-page_description p {
  width: 570px;
  text-align: center;
}

.second-page_card-box {
  width: 81.25%;
  min-height: 480px;
  padding-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
}

.second-page_card-box .card {
  width: 370px;
  height: 224px;
  margin-bottom: 32px;
  padding-top: 40px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
  border-radius: 3px;
}

.second-page_card-box .card:hover {
  transform: scale(1.15) translateZ(0);
  background-color: #e9ccee;
}

.second-page_card-box .card img {
  width: 56px;
  height: 56px;
  margin-bottom: 11px;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.second-page_card-box .card img:hover {
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}

.second-page_card-box .card h4 {
  margin-bottom: 9px;
  text-align: center;
}

.second-page_card-box .card p {
  text-align: center;
}

/*============================================================================== third-page */
#third-page {
  min-height: 768px;
  background: #e9ccee;
  padding-top: 144px;
  display: flex;
  justify-content: space-around;
}

.third-page_image {
  width: 40.14%;
  max-width: 570px;
  max-height: 512px;
  background: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
  border-radius: 3px;
}

#third-page img {
  width: 100%;
  max-width: 570px;
  max-height: 512px;
}

#third-page img:hover {
  -o-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -o-transform: translate(30px, -32px);
  -ms-transform: translate(30px, -32px);
  -moz-transform: translate(30px, -32px);
  -webkit-transform: translate(30px, -32px);
  transform: translate(30px, -32px);
}

.third-page_description {
  width: 40.14%;
}

.third-page_description h2 {
  max-width: 370px;
  max-height: 128px;
  margin-bottom: 23px;
}

.third-page_description .text-dark {
  max-width: 470px;
  max-height: 58px;
  margin-bottom: 6px;
}

.third-page_description .text-gray {
  max-width: 470px;
  max-height: 76px;
  margin-bottom: 36px;
}

.counter-block {
  width: 100%;
  max-width: 470px;
  margin-bottom: 40px;
  display: flex;
}

.counter-item {
  width: 50%;
  min-height: 72px;
}

.third-page_description button {
  background: #c86dd7;
}

/*============================================================================== fourth-page */
