* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#conteiner {
  margin: 0 auto;
  max-width: 1440px;
}

section:nth-of-type(2n) {
  background: #ffffff;
}

section:nth-of-type(2n + 1) {
  background: #fdf2ff;
}

section {
  width: 100%;
  min-height: 768px;
}

#conteiner,
section,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wraper {
  width: 81.25%;
  min-height: 300px;
  background: none;
  border: 1px solid aqua;
}

/* <!-- start-page -------------------------------------------------------- >  */
#start-page {
  background: linear-gradient(224.72deg, #3023ae -1%, #c86dd7 100.5%);
}

.header {
  width: 100%;
  max-height: 80px;
  margin-bottom: 156px;
  padding: 17px 0px 15px 9.375%;
  background: #5a27a4;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.header_logo {
  width: 120px;
  height: 48px;
}

.start-page_title {
  width: 30%;
  max-width: 449px;
  min-height: 216px;
  margin-bottom: 26px;
}

.start-page_description {
  width: 50%;
  max-width: 705px;
  min-height: 48px;
  margin-bottom: 34px;
}

.start-page_description p {
  margin-bottom: 34px;
}

.button {
  width: 170px;
  height: 48px;
  background-color: #ffc300;
  border: none;
  border-radius: 24px;
  padding: 12px 32px;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}
/* <!-- second-page -------------------------------------------------------- >  */
/* <!-- third-page -------------------------------------------------------- >  */
/* <!-- fourth-page -------------------------------------------------------- >  */
/* <!-- fifth-page -------------------------------------------------------- >  */
/* <!-- sixth-page -------------------------------------------------------- >  */
/* <!-- seventh-page -------------------------------------------------------- >  */
/* <!-- eighth-page -------------------------------------------------------- >  */
/* <!-- ninth-page -------------------------------------------------------- >  */
/* <!-- tenth-page -------------------------------------------------------- >  */
/* <!-- footer -------------------------------------------------------- >  */
.footer {
  width: 100%;
  min-height: 335px;
  border: 5px solid red;
}
